body {
    background-color: rgb(255, 255, 255);
}

.navbar.navbar-dark  {
    background-color: #1b2055 !important;
}

.navbar-brand {
font-size: x-large;
}

.navbar.navbar-dark .navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff9d00;
}

.navbar.navbar-dark .navbar-brand {
    color: #fff;
    transition: color 0.3s ease;
}

.navbar.navbar-dark .navbar-brand:hover {
    color: #ff9d00;
}

.navbar.navbar-dark .navbar-nav .nav-link .active {
    font:bold !important;
}


.main-container {
  align-items: center;
  display: block;
  margin: 0 auto;
  width: auto;
  height: 270px;
}


.img-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 20px;
  overflow-x: hidden;
  background-color: rgb(66, 212, 245);
}

.cloudy svg, .suntwo svg {
  width: 200px;
  height: auto;
  margin: 30px;
}

.cloudy {
  text-align: center;
}

.cb {
  fill: #ffffff;
  animation: slide 5s linear infinite;
}

.ca {
  fill: #ffea32;
  stroke: #ffffff;
  stroke-width: 22px;
}

.cc {
  fill: #c9eeee;
  stroke: #ffffff;
  animation: slide 5s linear infinite;
}

#sun {
  fill: #ffe100;
  stroke: #fff;
  stroke-width: 20px;
  animation: rotate-shrink-enlarge 30s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate-shrink-enlarge {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.7);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

p {
  font-family: Arial;
  font-size: medium;
  /* color: rgb(111, 111, 111); */
  text-align: left;
  margin: 0;
  padding: 30px 0;
}

/* a {
  text-decoration: none;
  color: white;
  font-weight: bold;
} */

/* a:hover {
  color: #ffea32;
} */

.non-gradient-section, .container {
    padding-top: 80px;
}

h1, h2 {
    margin-bottom: 2rem !important;
}

p, ul {
    line-height: 1.8;
}

.row {
    padding-bottom: 15px;
}

.container {
padding-bottom: 100px;
}

.gradient-section {
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.gradient-section::before {
    content: "";
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #330867, #31a7bb);
    transform: skewY(-2deg);
    box-shadow: 0 0 50px rgba(60, 117, 162, 0.4);
    z-index: -1;
}

#welcome {
padding-top: 56px;
}


a {
    color: #ffe66a;
    text-decoration: none;
    transition: color 0.3s ease;
}

#playground2 a {
    color: #31a5ba;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover, #playground1 a:hover {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #ff9d00 
}

.footer {
    background-color: #1b2055;
    color: #fff;
}

div.footer-content, .h3 {
    color: #31a5ba;
}
    
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}
    
.footer-links li,
.footer-social li {
    margin-bottom: 10px;
}
    
.footer-links a,
.footer-social a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
    
.footer-links a:hover,
.footer-social a:hover {
    color: #ff9d00 
}
    
.footer-info p {
    margin-top: 20px;
    text-align: center;
}
    
.fab {
    font-size: 24px;
    margin-right: 10px;
}

.picture-text-container {
    position: relative;
    text-align: center;
}


.picture-text {
    font-size: x-small;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    background-color: #ffffff; /* Background color for text */
    color: #797979; /* Text color */
    padding: 5px 2px 0;
    text-align: center;
    border-radius: 3px;
}

.footer p {
    color:#ffffff;
}

/* Charts css */
        div p {
            display: flex;
            margin: auto 0;
            justify-content: center;
            align-items: center;
        }

        p {
            font-size: large;
            color: rgb(139, 139, 139);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h1 {

            text-align: center;
            color: rgb(40, 40, 40);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0;
        }

        header h2 {
            color: rgb(82, 82, 82);
            font-size: large;
            margin: 10px 0 0 0;
        }

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #dcdcdc;
            padding: 15px 30px 30px 30px;
            border-radius: 8px;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            padding: 15px 30px 30px 30px;
            border-radius: 8px;
        }

        h2 {
            font-size: medium;
            text-align: center;
            color: rgb(186, 186, 186);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
        }

        h3 {
            font-size: small;
            text-align: center;
            color: rgb(186, 186, 186);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
        }

        main div {
            text-align: center;
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4e4e4e;
            padding: 15px 30px 30px 30px;
            border-radius: 8px;
        }

        .icon {
            position: relative;
            width: 60px;
            height: 60px;
            margin: 0 10px;
            cursor: pointer;
            padding: 0 30px 0 30px;
        }

        .icon img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .icon:hover .icon:visited {
            visibility: visible;
        }

        .icon .url {
            visibility: hidden;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 5px;
            font-size: 12px;
            border-radius: 3px;
            text-align: center;
        }

        .message {
            position: absolute;
            width: 50px;
            height: 8px;
            text-align: center;
            top: 62px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(255, 255, 255);
            color: #4e4e4e;
            padding: 8px;
            border-radius: 5px;
            font-size: xx-small;
            visibility: hidden;
        }

        .icon:hover .message {
            visibility: visible;
        }

        svg {
            background-color: white;
        }

        .chart-wrapper {
            width: 200px;
            height: 200px;
            position: relative;
            overflow: hidden;
            padding: 30px;
        }

        .chart-wrapper .circle-fill {
            animation: fillAnimation 1s cubic-bezier(0.5, 0, 0.5, 1);
            transform-origin: center center;
        }

        .chart-wrapper:hover .circle-fill {
            animation: colorAnimation 1s cubic-bezier(0.5, 0, 0.5, 1) forwards;
        }

        .chart-text {
            fill: rgb(74, 74, 74);
            font-weight: bold;
            font-size: 24px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-anchor: middle;
            dominant-baseline: central;
        }

        @keyframes fillAnimation {
            0% {
                transform: rotate(0deg);
                fill: rgb(255, 255, 255);
            }

            100% {
                transform: rotate(360deg);
                fill: rgb(255, 255, 255);
            }
        }

        @keyframes colorAnimation {
            0% {
                fill: rgb(255, 255, 255);
            }

            100% {
                fill: rgb(255, 255, 255);
            }
        }

        *, ::after, ::before {
      box-sizing: unset !important;
    }
 
